<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue lesson-5</title>
</head>

<body>
    <div id="root">
        <h2>All tasks</h2>
        <ul>
            <li v-for="task in tasks">{{task.description}}</li>
        </ul>



        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks">{{task.description}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script>
        let app = new Vue({
            el: '#root',
            data: {
                tasks: [{
                        description: 'Go to the store',
                        completed: true
                    },
                    {
                        description: 'Finish screencast',
                        completed: false
                    },
                    {
                        description: 'Make dono',
                        completed: false
                    },
                    {
                        description: 'Clear inbox',
                        completed: false
                    },
                    {
                        description: 'Make dinner',
                        completed: true
                    },
                ]
            },

            computed: {
                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed)
                }
            }
        })
    </script>
</body>

</html>
